[submodule "nvim/.config/kickstart.nvim"]
	path = nvim/.config/kickstart.nvim
	url = git@github.com:ctrites1/kickstart.nvim.git
[submodule "tmux/.config/tmux/plugins/tmux-continuum"]
	path = tmux/.config/tmux/plugins/tmux-continuum
	url = git@github.com:tmux-plugins/tmux-continuum.git
